<% form_for [@comment.commentable, @comment] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :content, "Add your comment:" %><br />
    <%= f.text_area :content, :cols => 50, :rows => 3 %>
  </p>
  <p><%= f.submit %></p>
<% end %>
