<% title "Blog" %>

<% @post_months.each do |month, posts| %>
	<h3><%= month.strftime("%A, %B %e") %></h3>
	<%= render posts %>
<% end %>

<% if current_user %>
	<p><%= link_to "New Blog Entry", new_post_path %></p>
<% end %>

<% if app_admin? && !Post.unpublished.empty? %>
	<h3>Unpublished Posts</h3>
	<%= render Post.unpublished %>
<% end %>

